_accordian _accordian_heading {
    background-color: #dedede;
}
_accordian _accordian_heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
_accordian _accordian_heading:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}